<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619678921318-tpkvodqb1b1n9fa2i77sosd0as636mbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619678921318-tpkvodqb1b1n9fa2i77sosd0as636mbj</string>
	<key>API_KEY</key>
	<string>AIzaSyB6m14c6l1gOYRHWzS5iZdiHqMKEs9jvA4</string>
	<key>GCM_SENDER_ID</key>
	<string>619678921318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ornuto</string>
	<key>PROJECT_ID</key>
	<string>ornuto-59a7d</string>
	<key>STORAGE_BUCKET</key>
	<string>ornuto-59a7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619678921318:ios:4bb5400514c25155f473a7</string>
</dict>
</plist>