<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325174206390-6hu2e7lptuhp205nenc736sad2l7okth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325174206390-6hu2e7lptuhp205nenc736sad2l7okth</string>
	<key>API_KEY</key>
	<string>AIzaSyAZPFXHGDZq5Af1uUPRL65fKQkRvy5CBc0</string>
	<key>GCM_SENDER_ID</key>
	<string>325174206390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hukpo.boxes</string>
	<key>PROJECT_ID</key>
	<string>boxes-526bf</string>
	<key>STORAGE_BUCKET</key>
	<string>boxes-526bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325174206390:ios:f920966a2acce849d7eb17</string>
</dict>
</plist>